<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <header><%- include("partials/header") %></header>

    <section id="about-us">
      <div class="container">
        <h2>Sobre Nosotros</h2>
        <p>
          Bienvenido a nuestro restaurante, donde ofrecemos deliciosas comidas
          con sabores auténticos. Nuestra pasión por la buena comida y el
          servicio excepcional nos distingue. Descubre más sobre nuestra
          historia y filosofía.
        </p>
        <!-- Puedes agregar más contenido según sea necesario -->
      </div>
    </section>
  </body>
</html>
