<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>Restaurante</title>
  </head>
  <body>
    <header><%- include("partials/header") %></header>

    <section id="contact">
      <div class="container">
        <h2>Contacto</h2>
        <p>
          ¡Nos encantaría saber de ti! Puedes encontrarnos en la siguiente
          dirección:
        </p>

        <address>
          Nombre del Restaurante<br />
          Dirección del Restaurante<br />
          Ciudad, País<br />
        </address>

        <p>Para consultas y reservas, contáctanos:</p>

        <ul>
          <li>Teléfono: +123 456 789</li>
          <li>Correo Electrónico: info@restaurante.com</li>
        </ul>

        <!-- Puedes agregar más información de contacto según sea necesario -->
      </div>
    </section>
  </body>
</html>
