<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurante</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/Logo.jpg" alt="Logo-image" /></a>
      <nav>
      <ul>
        <li><a href="/">Menú</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Sing In</a></li>
      </ul>
    </nav>
  </header>

  <section id="menu">
  <h2>Menú del Restaurante</h2>
  <div class="menu-gallery">
    <div class="menu-item">
      <img src="/images/plato1.jpg" alt="Plato 1" />
      <p>Descripción del Plato 1</p>
      <p>Descripción del Plato 1</p>
      <p>Descripción del Plato 1</p>
      <p>Descripción del Plato 1</p>
    </div>
    
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 2</p>
      <p>Descripción del Plato 2</p>
      <p>Descripción del Plato 2</p>
      <p>Descripción del Plato 2</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 3</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 3</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 4</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 5</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 6</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 7</p>
    </div>
    <!-- Agrega más elementos según sea necesario -->
  </div>
</section>

  <footer>
    <!-- Pie de Página -->
    <p>&copy; 2024 Restaurante</p>
  </footer>

</body>
</html>
  </body>
</html>
