<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>Restaurante</title>
  </head>
  <body>
    <header>
      <%- include("partials/header") %>
  </header>

  <section id="menu">
  <h2>Menú del Restaurante</h2>
  <div class="menu-gallery">
    <div class="menu-item">
      <img src="/images/plato1.jpg" alt="Plato 1" />
      <p>Descripción del Plato 1</p>
      <p>Descripción del Plato 1</p>
      <p>Descripción del Plato 1</p>
      <p>Descripción del Plato 1</p>
    </div>
    
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 2</p>
      <p>Descripción del Plato 2</p>
      <p>Descripción del Plato 2</p>
      <p>Descripción del Plato 2</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 3</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 3</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 4</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 5</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 6</p>
    </div>
    <div class="menu-item">
      <img src="/images/plato2.jpg" alt="Plato 2" />
      <p>Descripción del Plato 7</p>
    </div>
    <!-- Agrega más elementos según sea necesario -->
  </div>
</section>

  <footer>
    <!-- Pie de Página -->
    <p>&copy; 2024 Restaurante</p>
  </footer>

</body>
</html>
  </body>
</html>
